<!DOCTYPE html>
<html>
<head>
    <title>Анклав Екб</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}base.css"/>
</head>
<body>
<table class="main_container">
    <tr>
        <td><a href="/"><img src="{{ MEDIA_URL }}i/logo.png"></a></td>
        <td><a href="/"><img src="{{ MEDIA_URL }}i/login.png"></a></td>
        <td><a href="/"><img src="{{ MEDIA_URL }}i/hack.png"></a></td>
        <td><a href="/"><img src="{{ MEDIA_URL }}i/newspaper.png"></a></td>
        <td class="b-top">&nbsp;</td>
    </tr>
</table>
<table class="main_container" style="height: 100%">
    <tr>
        <td style="width: 189px;">
            <img src="{{ MEDIA_URL }}i/gap.png"><br>
            <img src="{{ MEDIA_URL }}i/news.png"><br>
            <img src="{{ MEDIA_URL }}i/dd.png"><br>
            <img src="{{ MEDIA_URL }}i/exchange.png">
        </td>
        <td style="width: 177px;">&nbsp;</td>
        <td class="content">
            <table class="b-navigation">
                <tr>
                    <td class="b-navigation-horizontal"></td>
                    <td style="height: 18px;"><img src="{{ MEDIA_URL }}i/t.png"></td>
                    <td class="b-navigation-horizontal"></td>
                </tr>
                <tr>
                    <td class="b-navigation-menu">
                        <div class="b-navigation-menu-item"><a href="/articles/2">Орг.<br>инфо</a></div>
                        <div class="b-navigation-menu-item"><a href="/articles/3">Правила<br>игры</a></div>
                        <div class="b-navigation-menu-item"><a href="/articles/4">Нужные<br>тексты</a></div>
                        <div class="b-navigation-menu-item"><a href="/roles">Список<br>заявок</a></div>
                        <div class="b-navigation-menu-item"><a href="/form">Форма<br>заявки</a></div>
                    </td>

                    <td class="b-navigation-vertical">&nbsp;</td>
                    <td class="b-navigation-menu">
                        <div class="b-navigation-menu-item"><a href="/news"></a>Обновления<br>на сайте</div>
                    </td>
                </tr>
                <tr>
                    <td class="b-navigation-horizontal"></td>
                    <td><img src="{{ MEDIA_URL }}i/cross.png"></td>
                    <td class="b-navigation-horizontal"></td>
                </tr>
                <tr>
                    <td>
                        {% block content %}
                        {% endblock content %}
                    </td>
                    <td class="b-navigation-vertical">&nbsp;</td>
                    <td style="width: 177px">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>