{% load news %}<!DOCTYPE html>
<html>
<head>
    <title>Анклав Екб</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}base.css?2"/>
    <script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>

    <link rel="alternate" type="application/rss+xml" href="/feeds/news" title="Новости сайта">

    {% block extra_head %}{% endblock %}
</head>
<body>
<table class="main_container" style="height: 100%">
    <tr>
        <td colspan="2" style="height: 100px"><a href="/"><img src="{{ MEDIA_URL }}i/logo.png"></a></td>
        <td style="vertical-align: middle;">{% if user.is_authenticated %}Приветствуем тебя, <a href="{% url profile %}">{{ user.username }}</a> (<a href="/auth/logout">выйти</a>){% else %}
            <a href="{% url login %}"><img src="{{ MEDIA_URL }}i/login.png"></a>
            {% endif %}
        </td>
        <td><a href="{% url hacking %}"><img src="{{ MEDIA_URL }}i/hack.png"></a></td>
        <td><a href="{% url common_news_add %}"><img src="{{ MEDIA_URL }}i/newspaper.png"></a></td>
        <td class="b-top">&nbsp;</td>
    </tr>
    <tr>
        <td class="b-left-menu">
            <a href="{% url common_news %}"><img src="{{ MEDIA_URL }}i/news.png"></a>

            {% if request.actual_role %}
                <a href="{% url dd %}"><img src="{{ MEDIA_URL }}i/dd.png"></a>
            {% else %}
                <img src="{{ MEDIA_URL }}i/dd.png">
            {% endif %}

            <a href="{% url stock %}"><img src="{{ MEDIA_URL }}i/exchange.png"></a>

            {% if request.actual_role and request.actual_role.companies %}
                {% for company in request.actual_role.companies %}
                    <div class="b-left-menu__item"><a href="{% url tradition company.code %}">{{ company.name }}</a></div>
                {% endfor %}
            {% endif %}

            {% if request.actual_profile %}
                <div class="b-left-menu__item">
                    <a href="{% url messages_inbox %}">
                    {% if messages_inbox_count %}
                            Новых сообщений: {{ messages_inbox_count }}
                        {% else %}
                            личная почта
                    {% endif %}
                    </a>
                </div>
            {% endif %}
            <div class="b-left-menu__item"><a href="{% url contest_index %}">Королева осени</a></div>
        </td>
        <td style="width: 177px; vertical-align: bottom;"><img src="{{ MEDIA_URL }}i/building.png"></td>
        <td colspan="4" class="content">
            {% block inner %}
                <table class="b-navigation" style="height: 100%;">
                    <tr>
                        <td class="b-navigation-horizontal"></td>
                        <td style="height: 18px;"><img src="{{ MEDIA_URL }}i/t.png"></td>
                        <td class="b-navigation-horizontal"></td>
                    </tr>
                    <tr>
                        <td class="b-navigation-menu" style="height: 18px; padding-left: 40px;">
                            <div class="b-navigation-menu-item"><a href="/articles/2">Орг.<br>инфо</a></div>
                            <div class="b-navigation-menu-item"><a href="/articles/3">Правила<br>игры</a></div>
                            <div class="b-navigation-menu-item"><a href="/articles/4">Нужные<br>тексты</a></div>
                            <div class="b-navigation-menu-item"><a href="/roles">Список<br>заявок</a></div>
                            <div class="b-navigation-menu-item"><a href="/form">Форма<br>заявки</a></div>
                        </td>

                        <td class="b-navigation-vertical">&nbsp;</td>
                        <td class="b-navigation-menu">
                            <div class="b-navigation-menu-item"><a href="{% url site_news %}"></a>Обновления<br>на сайте</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="b-navigation-horizontal"></td>
                        <td><img src="{{ MEDIA_URL }}i/cross.png"></td>
                        <td class="b-navigation-horizontal"></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="overflow: auto; padding-left: 20px;">
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </td>
                        <td class="b-navigation-vertical">&nbsp;</td>
                        <td style="width: 177px">
                            {% block right_column %}
                                {% last_news %}
                                &nbsp;
                            {% endblock %}
                        </td>
                    </tr>
                </table>
            {% endblock %}
        </td>
    </tr>
    <tr>
        <td style="height: 40px;"><img src="{{ MEDIA_URL }}i/left-bottom.png"></td>
        <td><img src="{{ MEDIA_URL }}i/building-bottom.png"></td>
        <td colspan="4"><img src="{{ MEDIA_URL }}i/content-bottom.png"></td>
    </tr>
</table>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter15038905 = new Ya.Metrika({id:15038905, enableAll: true});
            } catch(e) {}
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/15038905" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>
</html>