{% extends "inner_page.html" %}

{% block extra_head %}
    <script src="{{ MEDIA_URL }}redactor/redactor.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}redactor/css/redactor.css?2" />
{% endblock %}

{% block content %}
    <h1>Форма заявки</h1>
    <form action="" method="POST" class="b-bordered">
        {% if current_user %}
            <input type="hidden" name="change_user" id="id_change_user" value="{{ current_user.id }}" />
        {% endif %}

        {% include "form/tabs.html" %}
        {% include "form/main.html" %}
        {% include "form/quest.html" %}
        {% include "form/connections.html" %}

        <input type="hidden" name="change_user" value="{{ request.actual_user.pk }}">
        <input type="submit" value="Сохранить" style="margin-left: 200px; padding: 5px 20px; font-size: 150%"/>

    </form>

    {% if request.actual_role %}
        <hr>
        <div></div><a href="{% url traditions_request %}">Заявка на участие в Традиции/Корпорации</a></div>
        <br>
    {% endif %}

{% endblock %}