{% extends "inner_page.html" %}

{% block content %}
    <h1>Участники "{{ tradition.name }}"</h1>

    {% regroup members by is_approved as grouped_members %}

    {% for group in grouped_members %}
        <h2>{% if group.grouper %}Принятые{% else %}На рассмотрении{% endif %}</h2>

        {% for member in group.list %}
            <div>{{ member.role.name }}
                {% if group.grouper %}
                    <form action="" method="POST" style="display: inline; padding-left: 20px;">
                        {% csrf_token %}
                        <input type="hidden" name="role" value="{{ member.role.id }}">
                        <input type="submit" name="action" value="Исключить">
                    </form>
                {% else %}
                    <form action="" method="POST" style="display: inline; padding-left: 20px;">
                        {% csrf_token %}
                        <input type="hidden" name="role" value="{{ member.role.id }}">
                        <input type="submit" name="action" value="Принять">
                        <input type="submit" name="action" value="Отказать">
                    </form>
                {% endif %}
            </div>
        {% endfor %}

    {% endfor %}

{% endblock %}