{% extends "base.html" %}
{% load pytils_dt %}

{% block content %}
    <h2>
        {{ tradition.name }}
        {% if master %}
            <span style="font-size: 70%; font-weight: normal;">(<a href="{% url edit_tradition tradition.code %}">править</a> |
                <a href="{% url tradition_members tradition.code %}">участники</a>)</span>
        {% endif %}
    </h2>

    <p><form action="" method="POST">
        {% csrf_token %}
        <textarea rows="1" cols="40" name="post"></textarea>&nbsp;<input type="submit" value="Написать">
    </form></p>

    {% for message in chat %}
        <div class="b-news_date">{{ message.dt_created|ru_strftime:"%d %B" }}</div>
        <div class="b-news_content">{{ message.author.get_profile.role.name }}: {{ message.content }}</div>
    {% endfor %}
{% endblock %}

{% block right_column %}
    {{ tradition.content|safe }}

    <hr>

    {% for text in articles %}
        <p><a href="{% url tradition_text tradition.code text.id %}">{{ text.title }}</a></p>
    {% endfor %}
    <a href="{% url add_tradition_text tradition.code %}">добавить текст</a>

    <hr>

    {% for file in files %}
        <p><a href="{{ MEDIA_URL }}{{ file.file.name }}">{{ file.file.name }}</a></p>
    {% endfor %}
    <a href="{% url add_tradition_file tradition.code %}">добавить файл</a>
{% endblock %}