td, body, html
{
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body, html
{
    background-color: #010848;
    width: 100%;
    height: 100%;
}

.g-hidden
{
    display: none;
}

a img
{
    border: 0;
}

.main_container
{
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.main_container td
{
    vertical-align: top;
}

td img
{
    display: block;
}

.b-top
{
    width: 100%;
}

.b-left-menu
{
    width: 189px;
    padding-top: 35px;
    background-position: left bottom;
    background-image: url('i/left.png');
    background-repeat: no-repeat;
    text-align: right;
}

.b-left-menu__item
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 120%;
    font-family: Arial;
    margin: 10px 7px 0 0;
}

.b-left-menu__item a:link, .b-left-menu__item a:active,
.b-left-menu__item a:visited, .b-left-menu__item a:hover
{
    text-decoration: none;
}

.b-navigation
{
    border: 0;
    border-collapse: collapse;
    width: 100%;
}

.b-navigation-horizontal
{
    height: 18px;
    background: url('i/horizontal.png') repeat-x;
}

.b-navigation-vertical
{
    width: 18px;
    background: url('i/vertical.png') repeat-y;
}

.b-navigation img
{
    display: block;
}

.b-navigation-menu
{
    padding-left: 15px;
}

.b-navigation-menu-item
{
    float: left;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 20px 3px 10px;
}

.b-navigation-menu a:link, .b-navigation-menu a:visited
{
    text-decoration: none;
}

.b-navigation-menu a:hover, .b-navigation-menu a:active
{
    text-decoration: underline;
}

.content
{
    font-family: Verdana, tahoma;
    //height: 100%;
}

a:link, .content a:hover, .content a:active
{
    color: #ffffff;
}

a:visited
{
    color: #eee;
}

.b-bordered
{
    border-collapse: collapse;
}

.b-bordered td, .b-bordered th
{
    border: 1px solid gray;
    padding: 3px;
}

.b-news_date
{
    font-size: 80%;
    margin: 0;
}

.b-news_content
{
    margin-bottom: 10px;
}

.b-news_content p
{
    margin: 0;
}

.b-roles
{
    width: 100%;
    border-collapse: collapse;
}

.b-roles th
{
    border-bottom: 2px solid white;
}

.b-roles td
{
    padding: 3px 10px 3px 3px;
}

.b-roles tr.odd
{
    background-color: #031050;
}


.form_menu
{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    margin: 10px 0;
}

.form_menu ul
{
    margin: 0;
}

.form_menu ul li
{
    display: inline;
    margin: 5px 25px 5px 5px;
    border: 1px solid white;
    padding:  8px 10px 5px 10px;
    font-size: 120%;


    cursor: pointer;
}

.form_menu ul:first-child
{
    margin-left: 50px;
}

.form_menu_active
{
    border-bottom: 1px solid #010848 !important;
}

.b-icon
{
    display: inline !important;
}