{% extends "inner_page.html" %}

{% block content %}
    <h1>Список ролей</h1>

    <table class="b-roles">
        <tr>
            <th>Фото</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Специальность</th>
            <th>Место работы</th>
        </tr>
        {% regroup object_list by get_location_display as roles %}
        {% for group in roles %}
            <td colspan="5">{{ group.grouper }}</td>

            {% for role in group.list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{% if role.profile %}{{ role.profile.portrait.portrait.src_150 }}{% else %}-{% endif %}</td>
                    <td>{{ role.name }}</td>
                    <td>{{ role.age }}</td>
                    <td>{{ role.profession }}</td>
                    <td>{{ role.work }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}